body{
  padding: 25px;
  background-color = blue;
  font-size: 30px;
  margin-right: 100px;
  text-align: center;
  background-image: url('https://media1.ledevoir.com/image/836932.jpg?ts=1738141235');
  color: white;
}

h1{
  font-family: "Times New Roman", times, serif;
  text-align: center;
  margin-right: 100px;
  margin-top: 30px;
}

h2 {
  font-family: "Times New Roman", times, serif;
  text-align: center;
  margin-right: 100px;
  margin-top: 15px;
}
p {
  font-family: "Times New Roman", times, serif;
  text-align: center;
  margin-right: 100px
  margin-top: 15px;
}

.title {
}