body{
  padding: 50px;
  margin-right: 20px;
  background-color: "blue";
  text-align: center;
  color: black;
  font-style: normal;
  //background-image: url("https://media.tacdn.com/media/attractions-splice-spp-674x446/12/2e/16/f8.jpg");
  background-color: rgb(150, 225, 212);
}
 
h1{
  font-family: "Times New Roman", times, serif;
  text-align: center;
  margin-right: 0px;
  margin-left: 0px;
  margin-top: 30px;
  margin-bottom: 0px;
  font-style: normal;
  font-weight: bold;
  font-size: 50px;  
  //background-image: url("https://media.tacdn.com/media/attractions-splice-spp-674x446/12/2e/16/f8.jpg");

}

h2 {
  font-family: "Times New Roman", times, serif;
  text-align: center;
  margin-right: 0px;
  margin-left: 0px;
  margin-top: 50px;
  margin-bottom: 20px;
  font-style: normal;
  font-size: 30px;
}

h3 {
  font-family: "Times New Roman", times, serif;
  text-align: center;
  margin-right: 0px;
  margin-left: 0px;
  margin-top: 20px;
  margin-bottom: 0px;
  font-style: normal;
  font-size: 25px;
}

p {
  font-family: "Times New Roman", times, serif;
  text-align: center;
  margin-right: 0px;
  margin-left: 0px;
  margin-top: 15px;
  margin-bottom: 0px;
  font-style: normal;
  font-size: 20px;
}

a {
  font-family: "Times New Roman", times, serif;
  text-align: center;
  margin-right: 0px;
  margin-left: 0px;
  margin-top: 15px;
  margin-bottom: 0px;
  font-style: normal;
  color: blue;
}

.title {
}

.tab {
  overflow: hidden;
  border: none;
  background-color: rgb();
}

/* Style the buttons inside the tab */
.tab button {
  background-color: rgb(206,63,221);
  float: center;
  border: none;
  border-radius: 12px;
  outline: none;
  cursor: pointer;
  padding: 10px 10px;
  transition: 1s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}
