body{
  padding: 50px;
  margin-right: 20px;
  background-color: "blue";
  text-align: center;
  font-style: normal;
  background-image: url("https://i.pinimg.com/736x/a7/5b/5a/a75b5ad188176b532c3be6f8f35f4291.jpg");
}
 
  /*On définit les paramètres de h1 (le grand titre)*/
h1{
  font-family: "Times New Roman", times, serif;
  text-align: center;
  margin-right: 0px;
  margin-left: 0px;
  margin-top: 30px;
  margin-bottom: 0px;
  font-style: normal;
  font-weight: bold;
  font-size: 50px;  
  color: red;
}

  /*On définit les paramètres de h2 (le deuxième plus grand titre)*/
h2 {
  font-family: "Times New Roman", times, serif;
  text-align: center;
  margin-right: 0px;
  margin-left: 0px;
  margin-top: 50px;
  margin-bottom: 20px;
  font-style: normal;
  font-size: 30px;
}

  /*On définit les paramètres de h3 (le troisième plus grand titre)*/
h3 {
  font-family: "Times New Roman", times, serif;
  text-align: center;
  margin-right: 0px;
  margin-left: 0px;
  margin-top: 20px;
  margin-bottom: 0px;
  font-style: normal;
  font-size: 25px;
  color: white;
}


  /*On définit les paramètres des balises p (paragraphes))*/
p {
  font-family: "Times New Roman", times, serif;
  text-align: center;
  margin-right: 0px;
  margin-left: 0px;
  margin-top: 15px;
  margin-bottom: 0px;
  font-style: normal;
  font-size: 20px;
  color: white;
}

/*On ajoute du css aux cellules des tableaux. On accord du css spécifique pour td et pour tr.*/
td {
  font-family: "Times New Roman", times, serif;
  text-align: center;
  margin-right: 0px;
  margin-left: 0px;
  margin-top: 15px;
  margin-bottom: 0px;
  font-style: normal;
  font-size: 20px;
  color: white;
}

tr {
  font-family: "Times New Roman", times, serif;
  text-align: center;
  margin-right: 0px;
  margin-left: 0px;
  margin-top: 15px;
  margin-bottom: 0px;
  font-style: normal;
  font-size: 20px;
  color: white;
}

  /*On définit les paramètres de la balise a. On fait le formattage des liens*/
a {
  font-family: "Times New Roman", times, serif;
  text-align: center;
  margin-right: 0px;
  margin-left: 0px;
  margin-top: 15px;
  margin-bottom: 0px;
  font-style: normal;
  color: cyan;
}

ul {
  text-align: center;
  color: white;
}

ol {
  text-align: center;
  color: white;
}

/* Référence: https://www.youtube.com/watch?v=AZhF-r_h2fo*/
img{
  width: 300px;
  height: 300px;
  border-radius: 50%;
  border: 10px solid;
  cursor: pointer;
  transition: .5s;
  transition-delay: .5s;
}
.bg-clipPath {
  position: absolute;
  width: 100%;
  height: 100%;
  background: blue;
}

img:hover {
  box-shadow: 0 0 10px color: red; 
}
.border-color{
  border-style: solid;
  border color: cyan;
}

.title {
}

/*Référence: https://www.w3schools.com/howto/howto_css_glowing_text.asp*/

.glow {
  font-size: 80px;
  color: red;
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}

.glow2 {
  font-size: 80px;
  color: cyan;
  text-align: center;
  -webkit-animation: glow2 1s ease-in-out infinite alternate;
  -moz-animation: glow2 1s ease-in-out infinite alternate;
  animation: glow2 1s ease-in-out infinite alternate;
}



@-webkit-keyframes glow2 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}

.tab {
  overflow: hidden;
  border: none;
  background-color: rgb();
}

/* Style the buttons inside the tab */
.tab button {
  background-color: rgb(206,63,221);
  float: center;
  border: none;
  border-radius: 12px;
  outline: none;
  cursor: pointer;
  padding: 10px 10px;
  transition: 1s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}


